<template>
  <div class="bracket">
    <div class="main left">
      <slot></slot>
    </div>
    <div class="main final">
      <slot name="final"></slot>
    </div>
    <div class="main right">
      <slot name="right"></slot>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'bracket'
  }
</script>

<style lang="scss" scoped>
  .bracket {
    display: flex;

    .main {
      display: flex;
      flex-direction: row;

      &.final {
        align-items: center;
      }

      &.right {
        flex-direction: row-reverse;
      }
    }

  }
</style>
