<template>
  <div class="matchup" :class="{final}">
    <div v-if="final" class="title">Championship</div>
    <div class="connector"><div class="connector-line top"></div></div>
    <div class="matchup-inner">
      <div class="contender" :class="{winner: scoretop > scorebottom}"><span>{{ top }}</span><span>{{ scoretop }}</span></div>
      <div class="contender" :class="{winner: scorebottom > scoretop}"><span>{{ bottom }}</span><span>{{ scorebottom }}</span></div>
    </div>
    <div class="connector"><div class="connector-line bottom"></div></div>
  </div>
</template>

<script>
  export default {
    name: 'matchup',
    props: ['top', 'bottom', 'scoretop', 'scorebottom', 'final']
  }
</script>

<style lang="scss" scoped>
  .matchup {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    margin: $matchup-margin + px 0;
    position: relative;

    &.final {
      flex-direction: row;
      .connector-line {
        width: 50px;
        height: 2px;
        background-color: color(light-blue);
      }

      .title {
        position: absolute;
        width: 100%;
        margin-top: -70px;
        color: white;
        font-size: 26px;
      }
    }

    .matchup-inner {
      position: relative;
      height: $matchup-height + px;
      display: flex;
      flex-direction: column;
    }

    .contender {
      display: flex;
      flex-grow: 1;
      background-color: color(contender-background-loss);
      color: lightgray;
      font-weight: 200;
      &.winner {
        background-color: color(contender-background);
        color: color(dark-gray);
        font-weight: 500;
      }
      padding: 5px;
      width: 200px;
      text-align: left;
      + .contender {
        margin-top: 2px;
      }

      span {
        flex-grow: 1;
        + span {
          flex-grow: 0;
        }
      }
    }
  }
</style>

<style lang="scss">

  .left {
    .round:nth-child(n+3) {
      .matchup-inner {
        margin-left: -125px;
      }
    }

    .round:not(:first-of-type) {
      .connector {
        flex-grow: 1;
        position: relative;
        width: 100%;

        .connector-line {
          position: absolute;
          $height-offset: ($matchup-height / 2 - $matchup-margin) / 2 + 1;
          height: calc(50% - #{$height-offset}px);
          width: 25%;
          left: -$round-margin;
          &.top {
            bottom: 0;
            border-top: 2px solid color(light-blue);
            border-right: 2px solid color(light-blue);
          }
          &.bottom {
            border-bottom: 2px solid color(light-blue);
            border-right: 2px solid color(light-blue);
          }
        }
      }
    }
  }

  .right {
    .matchup .contender {
      flex-direction: row-reverse;

      span {
        text-align: right;
      }
    }

    .round:nth-child(n+3) {
      .matchup-inner {
        margin-right: -125px;
      }
    }

    .round:not(:first-of-type) {
      .connector {
        flex-grow: 1;
        position: relative;
        width: 100%;

        .connector-line {
          position: absolute;
          $height-offset: ($matchup-height / 2 - $matchup-margin) / 2 + 1;
          height: calc(50% - #{$height-offset}px);
          width: 25%;
          right: -$round-margin;
          &.top {
            bottom: 0;
            border-top: 2px solid #95D4FF;
            border-left: 2px solid #95D4FF;
          }
          &.bottom {
            border-bottom: 2px solid #95D4FF;
            border-left: 2px solid #95D4FF;
          }
        }
      }
    }
  }
</style>
