<template>
  <div class="round">
    <slot></slot>
  </div>
</template>

<script>
  export default {
    name: 'round'
  }
</script>

<style lang="scss" scoped>
  .left {
    .round {
      display: flex;
      flex-direction: column;

      + .round {
        margin-left: $round-margin;
      }
    }
  }

  .right {
    .round {
      display: flex;
      flex-direction: column;

      + .round {
        margin-right: $round-margin;
      }
    }
  }
</style>
