@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 992px) { @content ; }
  }
  @else if $point == tablet {
    @media (min-width: 768px) { @content ; }
  }
  @else if $point == mobile {
    @media (min-width: 576px)  { @content ; }
  }
}
