$colors: (
  dark-gray: #242730,
  light-gray: #69747D,
  light-blue: #95D4FF,

  tab-selected: #D4E8F7,
  tab-deselected: #A5AEB8,

  contender-background: #95E3BF,
  contender-background-loss: #69747D
);

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}
