<template>
  <div>
    <logo></logo>
    <div class="content">
      <bs-card class="login-register">
        <login-register slot="nopad"></login-register>
      </bs-card>
    </div>
    <div class="bracket-demo">
      <bracket>
        <template>
          <round>
            <matchup top="Lousville" bottom="NC A&T" scoretop="79" scorebottom="48"></matchup>
            <matchup top="Colo St" bottom="Missouri" scoretop="84" scorebottom="72"></matchup>
            <matchup top="Oklahoma St" bottom="Oregon" scoretop="55" scorebottom="68"></matchup>
            <matchup top="Saint Louis" bottom="New Mexico St" scoretop="64" scorebottom="44"></matchup>
            <matchup top="Lousville" bottom="NC A&T" scoretop="79" scorebottom="48"></matchup>
            <matchup top="Colo St" bottom="Missouri" scoretop="84" scorebottom="72"></matchup>
            <matchup top="Oklahoma St" bottom="Oregon" scoretop="55" scorebottom="68"></matchup>
            <matchup top="Saint Louis" bottom="New Mexico St" scoretop="64" scorebottom="44"></matchup>
          </round>
          <round>
            <matchup top="Lousville" bottom="Colo St" scoretop="82" scorebottom="56"></matchup>
            <matchup top="Oregon" bottom="Saint Louis" scoretop="74" scorebottom="57"></matchup>
            <matchup top="Lousville" bottom="Colo St" scoretop="82" scorebottom="56"></matchup>
            <matchup top="Oregon" bottom="Saint Louis" scoretop="74" scorebottom="57"></matchup>
          </round>
          <round>
            <matchup top="Lousville" bottom="Oregon" scoretop="77" scorebottom="69"></matchup>
            <matchup top="Lousville" bottom="Oregon" scoretop="77" scorebottom="69"></matchup>
          </round>
          <round>
            <matchup top="Lousville" bottom="Oregon" scoretop="77" scorebottom="69"></matchup>
          </round>
        </template>
        <template slot="right">
          <round>
            <matchup top="Lousville" bottom="NC A&T" scoretop="79" scorebottom="48"></matchup>
            <matchup top="Colo St" bottom="Missouri" scoretop="84" scorebottom="72"></matchup>
            <matchup top="Oklahoma St" bottom="Oregon" scoretop="55" scorebottom="68"></matchup>
            <matchup top="Saint Louis" bottom="New Mexico St" scoretop="64" scorebottom="44"></matchup>
            <matchup top="Lousville" bottom="NC A&T" scoretop="79" scorebottom="48"></matchup>
            <matchup top="Colo St" bottom="Missouri" scoretop="84" scorebottom="72"></matchup>
            <matchup top="Oklahoma St" bottom="Oregon" scoretop="55" scorebottom="68"></matchup>
            <matchup top="Saint Louis" bottom="New Mexico St" scoretop="64" scorebottom="44"></matchup>
          </round>
          <round>
            <matchup top="Lousville" bottom="Colo St" scoretop="82" scorebottom="56"></matchup>
            <matchup top="Oregon" bottom="Saint Louis" scoretop="74" scorebottom="57"></matchup>
            <matchup top="Lousville" bottom="Colo St" scoretop="82" scorebottom="56"></matchup>
            <matchup top="Oregon" bottom="Saint Louis" scoretop="74" scorebottom="57"></matchup>
          </round>
          <round>
            <matchup top="Lousville" bottom="Oregon" scoretop="77" scorebottom="69"></matchup>
            <matchup top="Lousville" bottom="Oregon" scoretop="77" scorebottom="69"></matchup>
          </round>
          <round>
            <matchup top="Lousville" bottom="Oregon" scoretop="77" scorebottom="69"></matchup>
          </round>
        </template>
        <template slot="final">
          <matchup final="true" top="Lousville" bottom="Oregon" scoretop="77" scorebottom="69"></matchup>
        </template>
      </bracket>
    </div>
  </div>
</template>

<script>
  import logo from '../Global/Logo'
  import loginRegister from '../Account/LoginRegister'
  import BsCard from '../UI/BSCard'
  import Matchup from '../Brackets/Matchup'
  import Round from '../Brackets/Round'
  import Bracket from '../Brackets/Bracket'

  export default {
    components: {
      Bracket,
      Round,
      Matchup,
      BsCard,
      logo,
      loginRegister
    }
  }
</script>

<style lang="scss" scoped>
  .content {
    text-align: center ;
  }

  .login-register {
    width: 100%;
    @include breakpoint(tablet) {
      width: 50%;
    }
  }

  .bracket-demo {
    margin-top: -20px;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
</style>

<style lang="scss">
  body {
    background-color: color(dark-gray);
  }
</style>
