<template>
  <div class="container">
    <bs-tabs>
      <bs-tab label="Login" selected="true">
        <p>Login form</p>
      </bs-tab>
      <bs-tab label="Register">
        <input type="text" placeholder="Email Address" v-model="inputs.email"/>
        <input type="password" placeholder="Password" v-model="inputs.password"/>
        <button @click="register">Register</button>
      </bs-tab>
    </bs-tabs>
  </div>
</template>

<script>
  import BsTabs from '../UI/BSTabs'
  import BsTab from '../UI/BSTab'

  const firebase = require('firebase')

  export default {
    components: {BsTab, BsTabs},
    data () {
      return {
        inputs: {
          email: '',
          password: ''
        }
      }
    },
    methods: {
      register: function () {
        firebase.auth().createUserWithEmailAndPassword(this.inputs.email, this.inputs.password)
          .catch(function (e) {
            console.log(e.code, e.message)
          })
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
