<template>
  <div class="bs-card">
    <slot name="header"></slot>
    <slot name="content"></slot>
    <slot name="nopad"></slot>
  </div>
</template>

<script>
  export default {
    name: 'bs-card'
  }
</script>

<style lang="scss" scoped>
  .bs-card {
    display: inline-block;
    background-color: color(light-gray);
    text-align: left;
    border-radius: 3px;
    overflow: hidden;

    @include card(4);
  }
</style>
