<template>
  <div class="bs-tabs">
    <div class="tabs">
      <div class="tab" :class="{selected: t.selected}" v-for="t in tabs" @click="tabClicked(t)">{{ t.label }}</div>
    </div>
    <div class="content">
      <slot></slot>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'bs-tabs',
    data: function () {
      return {
        tabContainers: []
      }
    },
    computed: {
      tabs: function () {
        return this.tabContainers.map(function (tab) {
          return {label: tab.label, selected: tab.selected, container: tab}
        })
      }
    },
    methods: {
      tabClicked: function (tab) {
        this.tabs.forEach(function (t) {
          t.container.isSelected = false
          t.selected = false
        })
        tab.container.isSelected = true
        tab.selected = true
        this.$forceUpdate()
      }
    },
    mounted () {
      this.tabContainers = this.$children
    }
  }
</script>

<style lang="scss" scoped>
  .bs-tabs {
    .tabs {
      display: flex;

      .tab {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        height: 40px;
        background: color(tab-deselected);
        cursor: pointer;

        + .tab {
          border-left: 1px solid color(dark-gray);
        }

        &.selected {
          background: color(tab-selected);
        }
      }
    }
    .content {
      padding: 10px;
    }
  }
</style>
