<template>
  <div class="bs-tab" :class="{selected: isSelected}">
    <slot></slot>
  </div>
</template>

<script>
  export default {
    name: 'bs-tab',
    props: ['selected', 'label'],
    data () {
      return {
        isSelected: !!this.selected
      }
    }
  }
</script>

<style lang="scss" scoped>
  .bs-tab {
    display: none;

    &.selected {
      display: block;
    }
  }
</style>
