<template>
  <div class="bs-tabs">
    <div class="tabs">
      <slot></slot>
    </div>
    <div class="content">
      <slot name="content"></slot>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'bs-tabs',
    methods: {
      tabSelected: function (child) {
        this.$children.forEach(function (child) {
          child.isSelected = false
        })
        child.isSelected = true
        this.showContent()
      },
      showContent: function () {
        let _this = this

        this.$children.forEach(function (child) {
          if (child.$slots['default'] && child.isSelected) {
            _this.$slots['content'] = child.$slots['default']
          }
        })

        this.$forceUpdate()
      }
    },
    mounted () {
      this.showContent()

      let _this = this
      this.$children.forEach(function (child) {
        child.$on('selected', function () {
          _this.tabSelected(child)
        })
      })
    }
  }
</script>

<style lang="scss" scoped>
  .bs-tabs {
    .tabs {
      display: flex;
    }
    .content {
      padding: 10px;
    }
  }
</style>
