<template>
  <div class="bs-tab" :class="{selected: isSelected}" @click.prevent="tabClicked()">
    <div v-text="label"></div>
  </div>
</template>

<script>
  export default {
    name: 'bs-tab',
    props: ['selected', 'label'],
    data () {
      return {
        isSelected: !!this.selected
      }
    },
    methods: {
      tabClicked: function () {
        this.$emit('selected')
      }
    }
  }
</script>

<style lang="scss" scoped>
  .bs-tab {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: color(tab-deselected);

    &.selected {
      background: color(tab-selected);
    }
  }
</style>
