<template>
  <div>
    <h1><span>Bracket</span><span>Shack</span></h1>
  </div>
</template>

<script>
</script>

<style lang="scss" scoped>
  h1 {
    font-family: Pacifico,cursive;
    font-size: 15vw;
    @include breakpoint(tablet) {
      font-size: 100px;
    }
    font-weight: normal;
    span {
      color: #ffffff;
      &:last-child {
        color: #6fbfff;
      }
    }
  }
</style>
